.bloch-container {
    flex:2;
    /* border: 1px solid #804febc6; */
    flex: 2;
    border: 1px solid #cb1b1bc6;
    width: 50%;
    height: 100%;
    margin-top: 0px;
    padding-top: 0%;
    /* Adjust size */
    /* margin: 0 auto; */
    /* Center-align if needed in its own container */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  