.bloch-container {
    /* border: 1px solid #cb1b1bc6; */
    width: 45%;
    height: 90%;
    /* Adjust size */
    margin: 0 auto;
    /* Center-align if needed in its own container */
    display: flex;
    align-items: center;
    justify-content: center;
}