/* Container for the circuit line */
.circuit-line-container {
    border: 1px solid #c51ec2;
    color: rgb(223, 36, 148);
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    height: 200px;
    /* Adjust spacing as needed */
}

/* Qubit label (|q₀⟩) styling */
.qubit-label {
    font-size: 1.0rem;
    color: rgb(157, 21, 21);
    font-weight: normal;
    margin-right: 100px;
    margin-left: 0px;
}

/* The entire container*/
.circuit-line {
    position: relative;
    height: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    justify-content: flex-start;
    background-color: rgb(69, 84, 148); /* Dark blue */
    overflow-x: auto;
    /* Enable scrolling if needed */
    /* padding-right: 50px; */
    /* Leave space for the undo button */
    box-sizing: border-box;
}

/* Draw a horizontal line */
.circuit-line::before {
    content: '';
    margin-bottom: 30px;
    /* padding-bottom: 0px; */
    position: absolute;
    top: 35%;
    left: 0;
    height: 2px;
    /* Line thickness */
    width: 100%;
    background-color: rgb(68, 68, 68);
    /* Line color */
}

/* Gates dropped onto the circuit */
.dropped-gate {
    margin-left: 100px;
    margin-right: 40px;
    /* padding-top: 40px; */
    margin-bottom: 5px;
    margin-top: 30px;
    background-color: #acacbe;
    /* border: 2px solid #120fcd; */
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: default;
    z-index: 2;
}

/* Ensure gates & matrices align properly */
.gate-matrix-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px;
}

.matrix-container{
    margin-top: 15px;
}

/* Undo button styling */
.undo-button {
    position: relative;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.undo-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.transparent-container{
    background-color: transparent;
    height:50px;
}
