/* Same styling as the input matrix, except no inputs */
.ant-table {
  background: transparent !important;
}

/* Hide table header */
.ant-table-thead {
  display: none !important;
}

/* Remove borders, reduce row height */
.ant-table-tbody > tr > td {
  background: transparent !important;
  border: none !important;
  line-height: 1.3 !important;
}

/* Matrix container + bracket styling (match input) */
.matrix-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: turquoise;
}

.matrix-bracket {
  font-size: 1.5rem;
  color: #525876;
  font-weight: lighter;
}

.matrix-bracket.right {
  /* color: #a8aab8; */
  /* padding-top: 6px; */
  padding-right:0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.matrix-bracket.left {
  /* padding-top: 6px; */

}

.matrix-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;

}
