/* Make entire table transparent */
.ant-table {
    /* margin-top: 20px; */
    /* padding-top: 50px; */
    background: transparent !important;
}

/* Hide the header (if not needed) */
.ant-table-thead {
    display: none !important;
}

/* Reduce table row height */
.ant-table-tbody>tr>td {
    background: transparent !important;
    border: none !important;
    color: white !important;
    padding: 0px !important;
    line-height: 1 !important;
}

/* Reduce spacing inside input fields */
.ant-input {
    padding: 0px !important; /* alters the height between the two rows */
    text-align: center !important;
}

/* Style matrix brackets */
.matrix-wrapper {
    display: flex;
    align-items: center;
}

.matrix-bracket {
    font-size: 1.1rem;
    color: rgb(68, 68, 68);
    font-weight: lighter;
    position: relative;
    top:6px;
    /* margin: 1 px; */
}

.matrix-bracket.right {
    margin-left: 18px;
}